body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffebcd;
}

h1 {
    color: #d2691e;
}

a {
    display: block;
    margin-top: 20px;
    color: #d2691e;
    font-weight: bold;
}
